name: Release CI
on:
  push:
    branches: [ master, release-ci ]
  workflow_dispatch:
jobs:
  x64_build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: Run msbuild
      run: msbuild -p:configuration=release -p:platform=x64 -p:platformToolset=v142

    - name: Get current time
      uses: 1466587594/current-time@v1
      id: current-time
      with:
        format: YYYYMMDD_HHmmss
        utcOffset: "+08:00"

    - name : Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: x64_${{ steps.current-time.outputs.formattedTime }}_TrafficMonitor
        path: |
          Bin/x64/Release/TrafficMonitor.exe
          Bin/x64/Release/*.dll

    - name : Upload pdb files
      uses: actions/upload-artifact@v2
      with:
        name: x64_${{ steps.current-time.outputs.formattedTime }}_pdb
        path: Bin/x64/Release/*.pdb

  x86_build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: Run msbuild
      run: msbuild -p:configuration=release -p:platform=x86 -p:platformToolset=v142

    - name: Get current time
      uses: 1466587594/current-time@v1
      id: current-time
      with:
        format: YYYYMMDD_HHmmss
        utcOffset: "+08:00"

    - name : Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: x86_${{ steps.current-time.outputs.formattedTime }}_TrafficMonitor
        path: |
          Bin/Release/TrafficMonitor.exe
          Bin/Release/*.dll

    - name : Upload pdb files
      uses: actions/upload-artifact@v2
      with:
        name: x86_${{ steps.current-time.outputs.formattedTime }}_pdb
        path: Bin/Release/*.pdb
